# Grafana Datasource Provisioning
# Automatically configures Prometheus as the default datasource
#
# See: https://grafana.com/docs/grafana/latest/administration/provisioning/

apiVersion: 1

datasources:
  # Prometheus - Primary metrics source
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.50.0"
      timeInterval: "15s"
